<div class="progresss-container">
    <div class="progresss-bar">
      <div
        *ngFor="let step of steps; let i = index"
        class="step"
        [class.active]="i <= currentStep"
      >
        <div class="circle">{{ i + 1 }}</div>
        <div *ngIf="i < steps.length - 1" class="line"></div>
      </div>
    </div>
    <div *ngIf="btn" class="buttons">
      <button (click)="prevStep()" [disabled]="currentStep === 0">Précédent</button>
      <button (click)="nextStep()" [disabled]="currentStep === steps.length - 1">Suivant</button>
    </div>
  </div>
  