<div class="container">
    

    <div class="right">
        <div class="img-back">
            <img class="img-back-i" [src]="src" alt="back-imge">
            <div class="cover">
            </div>
        </div>
        <div class="center">
            <h2>{{name}}</h2>
            <p>{{content}}  </p>
            
        </div>
    
        <p>{{date}}</p>

    </div>

    <div class="left">
        <app-red-button>
        </app-red-button>
        <img src="../../../../assets/trash.png" alt="trash">
        <img src="../../../../assets/eyes.png" alt="">
    </div>
    
</div>