.stats-container {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.stat-card {
  flex: 1;
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 3rem 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  .stat-infos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stat-value {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
  }

  .stat-label {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: bold;
  }

  .stat-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
    background-color: rgb(255, 255, 255);
    padding: 3rem;
    border-radius: 100%;
    i{
      font-size: 4rem;
    }
  }
}

.erasmus {
  background: linear-gradient(to right, var(--primary-color), var(--orange-color)  );
  color: white;

  .stat-value, .stat-label {
    color: white;
  }

  i {
    color: #333;
  }
}

.eei {
  background: linear-gradient(to right, var(--primary-color), var(--blue-color)  );
  color: white;

  .stat-value, .stat-label {
    color: white;
  }

  i {
    color: #333;
  }
}
