<div class="stats-container">
  <div class="stat-card erasmus">
    <div class="stat-infos">
      <div class="stat-value">{{erasmusPercentage}}%</div>
      <div class="stat-label">Etudiants ERASMUS</div>
    </div>
    <div class="stat-icon">
      <i class="fas fa-user"></i>
    </div>
  </div>
  <div class="stat-card eei">
    <div class="stat-infos">
      <div class="stat-value">{{eeiCount}}</div>
      <div class="stat-label">EEI</div>
    </div>
    <div class="stat-icon">
      <i class="fas fa-user"></i>
    </div>
  </div>
</div>
