<div class="container radius">
    <h2>{{content}}</h2>
    <div [ngClass]="{'radius': radius}" class="sub-container">
        <textarea placeholder="Saisir un Texte" name="" id=""></textarea>
        <div class="form-container">
            <p class="form-item i">I</p>
            <p class="form-item u">U</p>
            <p class="form-item b">B</p>
            <img class="form-item" src="../../../../assets/link.png" alt="link-img">
            <img class="form-item" src="../../../../assets/emoji.png" alt="emoji-img">
        </div>
    </div>
</div>