<div class="info-container">
    <div class="sub-container">

        <div class="text-zone">
            <app-text-zone></app-text-zone>
        </div>
        <div class="zone-btn">

            <app-red-button content="Telecharger une image " type="red"></app-red-button>
            <p>Ou</p>
            <p>Faites glisser l'image</p>

        </div>
        <div class="orange-btn">
            <app-red-button content="Enregistrer"></app-red-button>


        </div>
        <div class="bold-title">
            <p>Posts les plus récents</p>

        </div>

        <div class="actuality-container">
            <app-actuality-caroousel [slides]="slides" [grayBack]="true"></app-actuality-caroousel>

        </div>
        <div class="bold-title">
            <p>Témoignage</p>

        </div>
        

        <div class="marquee">
            <div class="marquee-content">
              <span><app-witness [rate]="1.5"></app-witness></span>
              <span><app-witness [rate]="1.5"></app-witness></span>
              <span><app-witness [rate]="1.5"></app-witness></span>
              <span><app-witness [rate]="1.5"></app-witness></span>
              <span><app-witness [rate]="1.5"></app-witness></span>
              <span><app-witness [rate]="1.5"></app-witness></span>
              <span><app-witness [rate]="1.5"></app-witness></span>
              <span><app-witness [rate]="1.5"></app-witness></span>
              
            </div>
          </div>

    </div>

</div>