<div class="end-step-container">
    <div class="left">

        <h1>Association de Lyon</h1>
        <div class="left-item">
            <app-form-zone srcIcon="../../../../assets/images/field-form/map.png" content="00, rue Pasteur 00000 LYON"></app-form-zone>
        </div>
        <div class="left-item">
            <app-form-zone content="Responsable : Dupont"></app-form-zone>
        </div>
        <div class="left-item">
            <app-form-zone srcIcon="../../../../assets/images/field-form/mail.png" content="partenaires@univ-lyon.fr"></app-form-zone>
        </div>
        <div class="left-item">
            <app-form-zone srcIcon="../../../../assets/images/field-form/phone.png"  content="+33 (0)0 00 00 00 00"></app-form-zone>
        </div>
    </div>
    <div class="right">
        <div class="right-top">
            <img src="../../../../assets/images/case-partner/partner-img.png" alt="image de fond" srcset="">
            <p>Congrès scientifique</p>
        </div>
        <div class="right-bottom">
            <p>Des programmes d’immersion alternatifs aux programmes Eramus. Partez étudier une langue dans autre pays de votre choix</p>
            <p>Des programmes d’immersion alternatifs aux programmes Eramus. Partez étudier une langue dans autre pays de votre choix</p>
            <div class="btn">
               <app-red-button type="red" content="Publier"></app-red-button> 
            </div>
        </div>
    </div>
</div>