<div class="post-commentaire-container">
    <div class="sup-container">
        <div>
            <app-profil-state></app-profil-state>
        </div>
        <div class="title">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

    </div>
    <div class="center-container">
        <app-text-zone></app-text-zone>

    </div>
    <div class="bottom-container">
        <app-red-button></app-red-button>
        <app-red-button></app-red-button>

    </div>
</div>
<app-commentaire-form></app-commentaire-form>