<div class="container">
    <div class="top-conatiner">
        <app-profil-state></app-profil-state>
        <div class="title-container">
                Lorem ipsum dolor sit, amet consectetu.
        </div>
    </div>
    <div class="zone-container">
        <app-text-zone content="repontre">
            
        </app-text-zone>
    </div>
    <div class="bottom-container">
        <app-red-button content="retour"></app-red-button>
        <app-red-button content="envoyer"></app-red-button>
    </div>

</div>