.red{
    button{
        overflow: hidden;
        background-color: rgba(237, 23, 76, 1);
        color: white;
        width: 100%;
        height: 100%;
        max-width: 250px;
        min-height: 30px;
        border-radius: 20px;
        min-width: 100px;
        max-height: 80px;
        border-style: none;
        padding: 10px;
        font-weight: bold;
        font-size: 1.5em;

    }
    
    
    button:hover{
        background-color: rgb(223, 62, 102);
        cursor: pointer;
        scale: 1.1;
    }

}

.white{
    button{
        overflow: hidden;
        background-color: white;
        color: rgba(237, 23, 76, 1);
        width: 100%;
        height: 100%;
        max-width: 170px;
        min-height: 30px;
        border-radius: 7px;
        min-width: 100px;
        max-height: 80px;
        border-style: none;
        font-size: 1.1em;
        padding: 10px;

    }
    
    
    button:hover{
        background-color: rgb(237, 208, 215);
        cursor: pointer;
        scale: 1.1;
    }

}

.orange{
    button{
        overflow: hidden;
        background: linear-gradient(to bottom,rgba(238, 124, 0, 1), rgba(237, 23, 76, 1));
        color: white;
        width: 100%;
        height: 100%;
        max-width: 170px;
        min-height: 40px;
        border-radius: 30px;
        min-width: 100px;
        max-height: 80px;
        border-style: none;
        font-size: 1.1em;
        padding: 10px;
    }

    
    
    
    button:hover{
        background: linear-gradient(to bottom,rgb(224, 150, 71), rgb(231, 92, 127));
        cursor: pointer;
        scale: 1.1;
    }

}

.white-red{
    button{
        overflow: hidden;
        background: white;
        color: rgba(237, 23, 76, 1);
        width: 100%;
        height: 100%;
        max-width: 170px;
        min-height: 40px;
        border-radius: 30px;
        min-width: 100px;
        max-height: 80px;
        border:3px solid rgba(237, 23, 76, 1);
        font-size: 1.1em;
        padding: 10px;
        font-weight: 300;
    }

    
    
    
    button:hover{
        background: linear-gradient(to bottom,rgb(224, 150, 71), rgb(231, 92, 127));
        cursor: pointer;
        scale: 1.1;
    }

}

