.container{
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 40px;
    min-height: 600px;
}

.img-back{
    width: 100%;
    height: 100%;
    
}
img{
    position: absolute;


}

.trash-icon{
    left:2%;
    top: 90%;
    z-index: 3;
}

.pen-icon{
    
    left: 88%;
    top: 90%;
    z-index: 3;
}

.inform{
    width: 100%;
    height: 100%;
    background-color: rgba(237, 23, 76, 0.46);
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    color: white;
    font-size: 2em;
    z-index: 2;
    text-align: center;

}