<div class="cagnote-container">
  <section class="statistics-section">
    <div class="section  mb-4">
      <div class="col-12">
        <img src="assets/images/chart/mobilitychart.png" alt="Statistiques des étudiants">
      </div>
    </div>
    <div class="section cagnote-card-section row mb-4">
      <h2>Statistiques des étudiants</h2>
      <div class="col-md-6 statistics-card create-cagnote-card">
        <div class="card text-white">
          <div class="card-body ">
            <h5 class="statistics-count">{{ totalStudentCagnotes }}</h5>
            <p class="statistics-text">Total Cagnotes Etudiantes</p>
          </div>
          <div class="card-icon">
            <i class="fas fa-dice"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 statistics-card female-cagnote-card">
        <div class="card bg-info text-white d-flex ">
          <div class="card-body">
            <h5 class="statistics-count">{{ totalStudentCagnotes }}</h5>
            <p class="statistics-text">Total Cagnotes Etudiantes</p>
          </div>
          <div class="card-icon">
            <i class="fas fa-female float-end"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="section  row mb-4">
      <div class="col-md-6 progress-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ outingsPercentage }}% Sorties</h5>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" [style.width]="outingsPercentage + '%'"></div>
            </div>
            <h5 class="card-title mt-2">{{ eventsPercentage }}% Evènements</h5>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" [style.width]="eventsPercentage + '%'"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 statistics-card male-cagnote-card">
        <div class="card bg-info text-white d-flex ">
          <div class="card-body">
            <h5 class="statistics-count">{{ totalMaleStudentCagnotes }}</h5>
            <p class="statistics-text">Total Cagnotes Etudiants</p>
          </div>
          <div class="card-icon">
            <i class="fas fa-female float-end"></i>
          </div>
        </div>
      </div>
    </div>
  </section>





  <div class="section authors-section">
    <h2>Liste des auteurs des cagnotes</h2>
    <div class="authors-card">
      <div class="authors-search">
        <input type="text" class="form-control mb-3" placeholder="Recherche">
      </div>
      <div class="d-flex justify-content-between">
        <div *ngFor="let author of authors" class="text-center">
          <img [src]="author.image" class="rounded-circle" alt="{{ author.name }}">
          <p>{{ author.name }}</p>
        </div>
      </div>
    </div>
  </div>



  <div class="section cagnote-card-section row mb-4">
    <h2>Cagnote / Vacances </h2>
    <div class="col-md-6 statistics-card create-cagnote-card">
      <div class="card text-white">
        <div class="card-body ">
          <h5 class="statistics-count"> $ {{ cagnoteAmount }}</h5>
          <p class="statistics-text">Montant de la cagnote</p>
        </div>
        <div class="card-icon">
          <i class="fas fa-dice"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6 statistics-card gender-cagnote-card">
      <div class="card text-white d-flex ">
        <div class="card-body">
          <p class="statistics-additional-text">{{ malePercentage }}% garçons | {{ femalePercentage }}% filles</p>

          <h5 class="statistics-count">{{ totalParticipants }}</h5>
          <p class="statistics-text">Total de participants</p>
        </div>
        <div class="card-icon">
          <i class="fas fa-female float-end"></i>
        </div>
      </div>
    </div>
  </div>



  <div class="mb-4 section cagnote-type-section">
    <div class="cagnote-type-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Option : Cagnote privé</h5>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Type de cagnote: {{ cagnoteType }}</h5>
        </div>
      </div>
      <div class="description-card mt-2">
        <h2>Description</h2>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt a quibusdam consectetur impedit veritatis
            consequuntur. Quis laborum, quos mollitia, debitis, fuga adipisci voluptatum iste impedit dolores porro
            numquam modi voluptatem.
          </p>
        </div>
      </div>
    </div>
    <div class=" participants-card">
      <div class="card">
        <h2>Liste des participants</h2>
        <div class="card-body">
          <input type="text" class="form-control mb-3" placeholder="Recherche">
          <ul class="list-group">
            <li *ngFor="let participant of participants"
              class="list-group-item d-flex justify-content-between align-items-center">

              <div>
                <img [src]="participant.image" class="rounded-circle" alt="{{ participant.name }}">
                {{ participant.name }}
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>

              <span [class]="participant.status === 'Validé' ? 'badge bg-success' : 'badge bg-warning'">{{
                participant.status }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
