.burguvia-content{
    width: 100%;
    background-color: rgba(237, 23, 76, 0.55);
    border-radius: 20px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    position: relative;
    min-height: 276px;
    max-width: 2017px;
    min-width: 800px;
    font-size: 2em;
    overflow: hidden;
}

.img-back{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.img-icone{
    position: absolute;
    left: 94%;
    width: 4%;
    bottom: 83%;
}
p{
    
    width: 60%;
}