
<div class="container-sup">




<div class="container">
    <h2>Poste</h2>
    <div class="line">
        <div class="left-line">
            <H3>Liker</H3>
            <p>activité</p>

        </div>
        <app-toggle-btn></app-toggle-btn>
    </div>
    <hr class="dividion">
    <div class="line">
        <div class="left-line">
            <H3>Bloquer</H3>
            <p>activité</p>

        </div>
        <app-toggle-btn></app-toggle-btn>
    </div>
    <hr class="dividion">

    <div class="line">
        <div class="left-line">
            <H3>Restreindre</H3>
            <p>activité</p>

        </div>
        <app-toggle-btn></app-toggle-btn>
    </div>
    <hr class="dividion">
    <div class="line">
        <div class="left-line">
            <H3>Masquer</H3>
            <p>activité</p>

        </div>
        <app-toggle-btn></app-toggle-btn>
    </div>
</div>

<h2>Commentaire</h2>

<div class="container">
    
    <div class="line">
        <div class="left-line">
            <H3>Liker</H3>
            <p>activité</p>

        </div>
        <app-toggle-btn></app-toggle-btn>
    </div>
    <hr class="dividion">
    <div class="line">
        <div class="left-line">
            <H3>Bloquer</H3>
            <p>activité</p>

        </div>
        <app-toggle-btn></app-toggle-btn>
    </div>
    <hr class="dividion">

    <div class="line">
        <div class="left-line">
            <H3>Restreindre</H3>
            <p>activité</p>

        </div>
        <app-toggle-btn></app-toggle-btn>
    </div>
    <hr class="dividion">
    <div class="line">
        <div class="left-line">
            <H3>Masquer</H3>
            <p>activité</p>

        </div>
        <app-toggle-btn></app-toggle-btn>
    </div>
</div>


</div>

