<div class="sup-container">
    <div class="sub-container">
        <div class="btn">
            <app-red-button type="red" content="publier"></app-red-button>

        </div>
        <div class="card-container">

            <div class="info">
                <app-presentation></app-presentation>
                <app-profil-info></app-profil-info>

            </div>
            <div class="info">
                <app-presentation></app-presentation>
                <app-profil-info></app-profil-info>

            </div>
            <div class="info">
                <app-presentation></app-presentation>
                <app-profil-info></app-profil-info>

            </div>
            <div class="info">
                <app-presentation></app-presentation>
                <app-profil-info></app-profil-info>

            </div>
            

        </div>

    </div>
</div>