:host {
  .progress-circle {
    position: relative;
    display: inline-block;

    svg {
      transform: rotate(-90deg);
      overflow: visible;
    }

    circle {
      transition: stroke-dashoffset 0.35s;
      transform-origin: 50% 50%;
    }

    .progress-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
