@import "../../../styles/sidebar.mixins";
:host{
  .sidebar {
    @include sidebar-base;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sidebar-header {
      @include sidebar-header;
    }

    .sidebar-content {
      @include sidebar-content;
      flex: 1;
    }

    .nav-link {
      display: flex;
      align-items: center;
      color: var(--text-color) !important;
      transition: all 0.3s;
      font-size: 1.1rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      i {
        width: 20px;
        text-align: center;
        margin-right: 10px;
      }

      span {
        transition: opacity 0.3s;
      }
    }


    &.collapsed {
      width: var(--sidebar-left-collapsed-width);
      overflow-x: 0;
      .nav-link span {
        opacity: 0;
        width: 0;
        display: none;
      }
      .nav-text,
      .team-info,
      .user-details,
      .dropdown {
        display: none;
      }

      .nav-link , .sidebar-header{
        justify-content: center;

        i {
          margin-right: 0;
        }
      }
    }

    .team-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: underline;
      font-weight: bold;
      display: flex;
      justify-content: center;
      font-size: 1.1rem;


      .team-name {
        font-weight: bold;
      }

      .edit-btn {
        background: none;
        border: none;
        color: var(--primary-color);
      }
    }

    .nav-item {
      .nav-link {
        color: var(--text-color);
        padding: 10px 20px;
        display: flex;
        align-items: center;

        &:hover,
        &.active {
          background-color: var(--secondary-color);
          color: #fff;
        }

        i {
          width: 20px;
          margin-right: 10px;
        }

        .badge {
          margin-left: auto;
        }
      }
    }

    .user-info {
      margin-top: auto;
      padding: 15px;
      display: flex;
      align-items: center;
      border-top: 1px solid #e9ecef;

      .user-avatar {
        width: 40px !important;
        height: 40px !important;
        border-radius: 50%;
        margin-right: 10px;
      }

      .user-details {
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        color: var(--primary-color);

        .user-name {
          font-size: 1em;

        }

        .user-role {
          font-size: 0.8em;
          font-weight: bold;

        }
      }
    }
  }

  @media (max-width: 991px) {
    .sidebar {
      transform: translateX(-100%);
      width: 85%;
      position: fixed;
      height: 100vh;
      top: 0;

      &.show {
        transform: translateX(0);
      }
    }

    .btn-toggle-desktop {
      display: none;
    }
  }
}
