<div class="lyon-association-container">
    <div class="switch-container">
        <app-switch-window  [themes]="themes"></app-switch-window>
    </div>
    <div class=" mini-text-zone">
        <p>Texte</p>
        <input type="text" name="" id="" placeholder="Saisir un texte">
    </div>
    <div class="zone-texte">
        <app-text-zone content="Description">

        </app-text-zone>
    </div>
    <div class="btn">
        <app-red-button type="red">

        </app-red-button>
        <app-red-button type="red">

        </app-red-button>

    </div>


</div>