<div class="container-witness">
    <div class="top-container-witness">
        <app-profil-state 
        styleState="white" 
        [connectedState]="true" 
        UrlProfilImage="../../../assets/images/profil-comments-blk.png">

        </app-profil-state>
            
        <h2>Alfred SITOU</h2>

    </div>
    <p>Lorem ipsum dolor sit amet. Est consectetur porro qui neque </p>
    <div class="bottom-container">
        <div class="star">
            <app-star-rate [rate]="rate"></app-star-rate>
        </div>
        <app-red-button>

        </app-red-button>
    </div>
</div>