.top-container-witness{
    display: flex;
    width: 100%;
    gap: 2%;
    align-items: center;
    overflow: hidden;
    
}
:host{
    display: inline;
}

.container-witness{
    box-shadow: 1px 1px 15px;
    border-radius: 40px;
    width: 100%;
    overflow: hidden;
    max-width: 350px;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5%;
    background-color: white;
    
    

}
h2{
    color: rgba(237, 23, 76, 1);
    font-size: 2em;
}
p{
    font-size: 1.1em;
    background-color: aqua;
    overflow-wrap: break-word;
}

.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}