:host{
  .nav-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }

  .nav-button {
    display: flex;
    align-items: center;
    padding: 4px 24px;
    margin: 0 5px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    font-size: 14px;
    flex: 1;

    i {
      margin-right: 5px;
    }
  }

  .invite-section {
    flex: 1;
    .invite-btn{
      background-color: var(--secondary-color);
      display: flex;
      align-items: center;
      padding: 8px 24px;
      margin: 0 5px;
      border: none;
      border-radius: 20px;
    }

  }

  .search-container {
    display: flex;
    align-items: center;
    background-color: rgba($color: #e2e2eb, $alpha: 0.4);
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 10px;
    flex: 1;

    i {
      color: var(--text-color);
      margin-right: 5px;
    }

    input {
      border: none;
      background: transparent;
      outline: none;
      color: var(--text-color);
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  .invite-section{
    flex-shrink: 0;
  }

}
