
<nav class="nav-bar ">
  <div class="container d-flex justify-content-between">
    <div class="nav-button invite-section">
      <button class="invite-btn"> <i class="fas fa-plus"></i> Inviter</button>
    </div>
    <div class="search-container">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Recherche">
    </div>
    <button class="nav-button">
      <i class="fas fa-users"></i> Communauté
    </button>
    <button class="nav-button">
      <i class="fas fa-question"></i> Aide
    </button>
  </div>
</nav>
