<div class="association2-container">
    <div class="sub-container">
        <div class="inner-container">
            <app-actulity-section [slides]="slides"></app-actulity-section>
            <app-description-section></app-description-section>

            <app-comments-section [comments]="comments">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, repellendus. Eos quibusdam quo exercitationem nihil consequatur, tempore natus, facilis quia, in ducimus ex quam qui sunt sapiente quaerat nisi voluptatibus debitis eaque iure dolore aliquam veniam fuga. Perferendis commodi maiores optio, eum ipsum animi earum officia blanditiis facere esse enim.
            </app-comments-section>
        </div>
    </div>
</div>




