<div class="container">
    <app-progressebar></app-progressebar>
    <h2>Formulaire d'enregistrement</h2>

    <div class="form-container">
        <div class="top">
            <app-field-form content="Nom de l'univertité"></app-field-form>
            <div class="sub-top">

                <div class="sub-top-left">
                    <app-field-form content="Numéro de téléphone" srcIcon="../../../../assets/field-form/phone.png"></app-field-form>
                    <app-field-form content="Mot de Passe" srcIcon="../../../../assets/field-form/lock.png"></app-field-form>

                    

                </div>
                <div class="sub-top-right">
                    <app-field-form content="Numéro de téléphone" srcIcon="../../../../assets/field-form/mail.png"></app-field-form>
                    <app-field-form content="Mot de Passe" srcIcon="../../../../assets/field-form/map.png"></app-field-form>

                </div>
            </div>

        </div>
        <div class="bottom">
            <app-red-button type="red" content="précédent"></app-red-button>
            <app-red-button type="red" content="suivant"></app-red-button>
        </div>

    </div>

</div>