<div class="commentsection-componet">
    <div class="title-component">
        <hr class="line">
        <h2> commentaires</h2>
    </div>
    <div class="comment-container">
        <app-comment *ngFor="let comment of comments" [content]="comment.Comment" [UrlProfilImage]="comment.UrlProfilImage" [connectedState]="comment.connectedState">
        </app-comment>
        
        
       
        
        
        
    </div>
    <app-red-button type="orange" content="Commentaire">

    </app-red-button>

</div>