.commentsection-componet{
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.comment-container{
   
    width: 95%;
    min-height: 200px;
    height: 100%;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;

}

.title-component{
    width: 68%;
    text-align: center;
    font-size: 1.5em;
}
.line{
    border: 2.5px solid black;
}
app-red-button{
    flex: 0 1 300px;
    max-width: 300px;
}

.comment-container::-webkit-scrollbar {
    width: 30px;
    

  }

  .comment-container::-webkit-scrollbar-track {
    background: rgba(217, 217, 217, 1);
    border-radius: 300px;
    padding: 5px;


  }

 
  .comment-container::-webkit-scrollbar-thumb {
    background: rgba(252, 91, 91, 1); 
    border-radius: 20px;
    width: 50%;
    margin: 10px;
  }

  .comment-container::-webkit-scrollbar-thumb:hover {
    background: #b02828; 
  }



 