<div class="container">
  <h2>{{ title }}</h2>
  <app-mobility-chart></app-mobility-chart>
  <app-stats-cards></app-stats-cards>
  <app-candidates-list></app-candidates-list>
  <app-partners-universities></app-partners-universities>


  <!-- <app-carousel [showCount]="{ xs: 1, sm: 2, md: 3, lg: 2 }">
    <app-carousel-item>
      <img src="assets/images/mobility/image1.png" alt="Image 1">
    </app-carousel-item>
    <app-carousel-item>
      <img src="assets/images/mobility/image2.png" alt="Image 2">
    </app-carousel-item>
    <app-carousel-item>
      <img src="assets/images/mobility/image3.png" alt="Image 3">
    </app-carousel-item>
    <app-carousel-item>
      <img src="assets/images/mobility/image4.png" alt="Image 4">
    </app-carousel-item>
    <app-carousel-item>
      <img src="assets/images/mobility/image3.png" alt="Image 3">
    </app-carousel-item>
    <app-carousel-item>
      <img src="assets/images/mobility/image4.png" alt="Image 4">
    </app-carousel-item>
    <app-carousel-item>
      <img src="assets/images/mobility/image3.png" alt="Image 3">
    </app-carousel-item>
    <app-carousel-item>
      <img src="assets/images/mobility/image4.png" alt="Image 4">
    </app-carousel-item>
  </app-carousel> -->
</div>
