<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="item-title">
      <i class="fas fa-coins me-2"></i>
      <a [routerLink]="['/item']" routerLinkActive="router-link-active" > {{ title }} </a>
    </div>
    <button title="toggle collapse" (click)="toggleCollapse()" data-bs-toggle="collapse"
      [attr.data-bs-target]="'#collapse-' + title" class="collapse-btn">
      <i class="fas" [ngClass]="isCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'" style="float: right;"></i>
    </button>
  </div>
  <div [id]="'collapse-' + title" class="collapse" [ngClass]="{'show': !isCollapsed}">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li *ngFor="let item of items" class="list-group-item">
          <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
            <i [class]="item.icon + ' me-2'"></i>
            {{ item.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
