.conternair-ass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sub-container{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5em;
    

}

.lyon-container{
    min-width: 700px;
    width: 100%;
   
}

.btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 5%;
}