<div class="sup-form-container">
    <app-progressebar   [currentStep]="currentStep" [steps]="[1, 2, 3, 4]"></app-progressebar>
    <h2>Formulaire d'enregistrement</h2>

    <div class="form-container" [ngSwitch]="currentStep" *ngIf="currentStep!==3">

        <div class="top" *ngSwitchCase="0">
      
            <app-field-form content="Nom de l'univertité"></app-field-form>
            

                <div class="sub-top">
                    <app-field-form content="Numéro de téléphone" srcIcon="../../../assets/images/field-form/phone.png"></app-field-form>
                    <app-field-form content="Numéro de téléphone" srcIcon="../../../assets/images/field-form/mail.png"></app-field-form>
                    

                </div>
                <div class="sub-top">
                    <app-field-form content="Mot de Passe" srcIcon="../../../assets/images/field-form/lock.png"></app-field-form>
                    <app-field-form content="Mot de Passe" srcIcon="../../../assets/images/field-form/map.png"></app-field-form>

                </div>
          

       
    </div>
    <div *ngSwitchCase="1" class="top">
        <div class="sub-top">
            <app-field-form content="Nom du responsable"></app-field-form>
            <app-field-form content="Nom du responsable" ></app-field-form>
            
        </div>
        <div class="sub-top">
            <app-field-form content="Numero de telephone" srcIcon="../../../assets/images/field-form/lock.png"></app-field-form>
            <app-field-form content="Adresse mail" srcIcon="../../../assets/images/field-form/map.png"></app-field-form>

        </div>
        <app-field-form content="Adresse" srcIcon="../../../assets/images/field-form/map.png"></app-field-form>
            

        
        
      </div>
    
      <!-- Étape 3 -->
      <div *ngSwitchCase="2" class="top">
        <app-field-form content="titre du poste"></app-field-form>


        <div class="description-container">
        <p>Description.</p>
        <input type="text" name="" id="">

        </div>
        <div class="download-container">
            <p>Image</p>
            <img src="../../../assets/images/field-form/download.png" alt="" srcset="">
        </div>
        
        
      </div>
    
   
      <div *ngSwitchDefault>
        <h3>Étape inconnue</h3>
      </div>
        <div class="bottom">
            <app-red-button (click)="prevStep()" type="red" content="précédent"></app-red-button>
            <app-red-button (click)="nextStep()" type="red" content="suivant"></app-red-button>
        </div>
   

    </div>
    <app-end-step *ngIf="currentStep===3"></app-end-step>

</div>



