.sup-form-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
  background-color: rgba(226, 226, 235, 1);
  padding: 5%;


}

.form-container{
  min-width: 865px;
  min-height: 549px;
  border-radius: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
padding: 2%;
  
  
}

.bottom{
  display: flex;
  justify-content: center;
  gap: 30%;
  padding: 2%;
  align-items: center;
  app-red-button{
    width: 70%;
   
  }
}

.top{
  flex-grow: 1;
 
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  position: relative;

}

.description-container{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  flex-grow: 1;
  gap: 0px;
  p{
    margin: 0;
    padding: 0;
  }

  input{
    border-radius: 30px;
    background-color: rgba(226, 226, 235, 1);
    height: 100%;
    flex-grow: 1;
    border-style: none;
    
  }
}
.download-container{
  display: flex;
  font-size: 1.5em;
  border-style: none;
  align-items: center;
  gap: 5%;

  img{
    width: 5%;
    
  }
}


.sub-top{
  display: flex;
  width: 100%;
  justify-content: space-between;
  app-field-form {
    width: 48%;
  }

}