<table class="file-table">
  <tbody>
    <tr class="file-row">
      <td class="file-checkbox">
        <input type="checkbox" class="form-check-input">
      </td>
      <td class="file-icon">
        <i class="fas fa-file-pdf icon file-pdf-icon"></i>
      </td>
      <td class="file-name">nom du fichier</td>
      <td class="file-date">dernière modification le 11/10/2023</td>
      <td class="file-action">
        <i class="fas fa-chevron-right file-chevron"></i>
      </td>
    </tr>
    <tr class="file-row">
      <td class="file-checkbox">
        <input type="checkbox" class="form-check-input">
      </td>
      <td class="file-icon">
        <i class="fas fa-file-pdf icon file-pdf-icon"></i>
      </td>
      <td class="file-name">nom du fichier</td>
      <td class="file-date">dernière modification le 11/10/2023</td>
      <td class="file-action">
        <i class="fas fa-chevron-right file-chevron"></i>
      </td>
    </tr>
    <tr class="file-row">
      <td class="file-checkbox">
        <input type="checkbox" class="form-check-input">
      </td>
      <td class="file-icon">
        <i class="fas fa-file-pdf icon file-pdf-icon"></i>
      </td>
      <td class="file-name">nom du fichier</td>
      <td class="file-date">dernière modification le 11/10/2023</td>
      <td class="file-action">
        <i class="fas fa-chevron-right file-chevron"></i>
      </td>
    </tr>
    <tr class="file-row">
      <td class="file-checkbox">
        <input type="checkbox" class="form-check-input">
      </td>
      <td class="file-icon">
        <i class="fas fa-file-pdf icon file-pdf-icon"></i>
      </td>
      <td class="file-name">nom du fichier</td>
      <td class="file-date">dernière modification le 11/10/2023</td>
      <td class="file-action">
        <i class="fas fa-chevron-right file-chevron"></i>
      </td>
    </tr>
    <tr class="file-row">
      <td class="file-checkbox">
        <input type="checkbox" class="form-check-input">
      </td>
      <td class="file-icon">
        <i class="fas fa-file-pdf icon file-pdf-icon"></i>
      </td>
      <td class="file-name">nom du fichier</td>
      <td class="file-date">dernière modification le 11/10/2023</td>
      <td class="file-action">
        <i class="fas fa-chevron-right file-chevron"></i>
      </td>
    </tr>
    <tr class="file-row">
      <td class="file-checkbox">
        <input type="checkbox" class="form-check-input">
      </td>
      <td class="file-icon">
        <i class="fas fa-file-pdf icon file-pdf-icon"></i>
      </td>
      <td class="file-name">nom du fichier</td>
      <td class="file-date">dernière modification le 11/10/2023</td>
      <td class="file-action">
        <i class="fas fa-chevron-right file-chevron"></i>
      </td>
    </tr>
  </tbody>
</table>
