:host {


  section.section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .section-title {
    color: var(--primary-color);
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .stat-student-section , .stat-depanage-section {
    .list-of-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      .stat-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: rgb(175, 175, 175);
        color: white;
        border-radius: 8px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        &:hover {
          transform: translateY(-5px);
        }

        .card-content {
          width: 100%;
          display: flex !important;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 20px 0 20px;

          .stats-count {
            font-size: 2.5rem;
            font-weight: bold;
          }
          .stats-text {
            font-size: 1rem;
            font-weight: bold;
          }

          .card-icon {
            background-color: white;
            font-size: 3rem;
            border-radius: 50%;
            padding: 15px 25px;
            position: relative;

            .percentage-number {
              position: absolute;
              color: white !important;
              top: 0px;
              left: 70%;
              transform: translate(-50%, -50%);
              font-size: 0.8rem;
              font-weight: bold;
              background-color: var(--primary-color);
              border-radius: 50%;
              padding: 10px 5px;
              color: var(--text-color);
            }

            i {
              color: var(--text-color);
            }
          }

          .stats-additional-text {
            position: absolute;
            font-weight: 600;
            padding: 2px 10px;
            top: 5px;
            left: 20px;
          }
        }
      }
    }
  }

  .primary-orange-bg {
    background: linear-gradient(to right, var(--primary-color), var(--orange-color));
  }
  .primary-blue-bg {
    background: linear-gradient(to right, var(--primary-color), var(--blue-color));
  }
  .blue-secondary-bg {
    background: linear-gradient(to right, var(--blue-color), var(--secondary-color));
  }



  .depanages-list-section , .student-list-section {

    .search-bar {
      display: flex;
      align-items: center;
      background-color: var(--primary-color);
      padding: 10px 20px;
      gap: 15px;

      i {
        margin-right: 10px;
        color: var(--text-color);
        font-size: 1.25rem;
      }

      span {
        color: white;
        font-weight: bold;
      }

      input {
        border: none;
        outline: none;
        background: rgba(255, 119, 153, 0.9) !important;
        padding: 3px 15px;
        border-radius: 15px;
        font-size: 0.8rem;
        width: 150px;
      }

      input::placeholder {
        color: white;
      }
    }

    .table {
      width: 100%;
      background-color: white;
      overflow: hidden;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

      th,
      td {
        padding: 12px;
        text-align: left;
      }

      th {
        background-color: white;
        color: var(--primary-color);
        border: none;
      }

      tr {
        background-color: var(--secondary-color);
        border-bottom: 1px solid #D9D9D9;
      }
    }
  }


  .chart-section {
    img {
      width: 100%;
    }
  }
}
