<div class="documents-nav">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="pill" href="#home">DOSSIERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#menu1">PDF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#menu2">IMAGES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#menu3">VIDEOS</a>
    </li>
  </ul>
</div>
