:host{
  .transactions {
    table {
      width: 100%;
      border-collapse: collapse;


      th, td {
        padding: 12px;
        text-align: left;
        background-color: #e2e2eb;
        border-bottom: 1px solid #ffffff;
      }

      tr {
        color: var(--text-color);
        font-weight: 500;
        td:first-child{
         font-weight: bold;
        }
      }


    }

    .debit {
      color: var(--primary-color);
    }

    .credit {
      color: #28a745;
    }
  }
}
